<nav class="navigationBar">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list iconeMenu" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
  </svg>
  <div class="menu">
    <button class="btnNav" type="button" id="btnHome" onClick="document.getElementById('campoAzul').scrollIntoView();">HOME</button>
    <button class="btnNav" type="button" id="btnSobreEvento" onClick="document.getElementById('textoLP').scrollIntoView();" >SOBRE O EVENTO</button>
    <button class="btnNav" type="button" id="btnPalestrantes" onClick="document.getElementById('secDeAndar').scrollIntoView();">PALESTRANTES</button>
  </div>
</nav>
