<link rel="stylesheet" href="cardGrandeStyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="approach-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                    <div class="approach-img">
                        <img src="img/man-oculos.jpg" alt="Homem de Óculos">
                        <div class="name-man-div">
                            <span>Rodrigo Carvalho Losina</span>
                        </div>
                        <button id="inscricaoCD" type="button" onclick="openModal()">Inscreva-se</button>
                    </div> 
            </div>

            <div class="col-lg-6">
                <div class="approach-content text-left">
                    <h2>Cases e possibilidades com a VRGlass
                    </h2>
                    <ul>
                        <li>
                            <i class="fa-solid fa-rocket"></i>                            
                            <h3>Startup</h3>
                            <p>
                                Startup brasileira pioneira na criação de sistemas imersivos para enterprises, entregando mais de 200 projetos para clientes como YouTube, 
                                NBA, Coca-Cola, Adidas,  Hershey's, Samsung, Nissan, Volkswagen, Ford, Universal, Warner, 3M, Carrefour e Unilever, entre outros.
                            </p>
                        </li>
                        <li>
                            <i class="fa-solid fa-clock-rotate-left"></i>                            
                                <h3>História</h3>
                                <p>Desde sua criação em 2011, a VRGlass se consolidou na criação de experiências de compra sociais e imersivas, 
                                    resultando na concepção de uma solução Software-as-a-service altamente escalável com foco na interatividade e 
                                    relacionamento entre os usuários, chamada Virtual Town.
                                </p>
                        </li>
                        <li>
                            <i class="fa-solid fa-trophy"></i>                           
                            <h3>Premiações</h3>
                            <p>Ganhou premiações Leão de Ouro no Festival de Cannes (França), Clio Awards, D&AD e Wave.
                                Foi acelerada pela Samsung, Oracle e Grupo WPP.</p>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>