#campoAzul {
    background-color: var(--main-bg-color);
    min-height: 75vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 3%;
    padding-top: 5%;
}

.text {
    display: flex;
    flex-direction: column;
    padding-right: 7.5%;
    /* Rato */
}

.textImpact {
    width: 50rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0 3rem 0;
    transition: opacity 2s linear;
    opacity: 0;
}

.textImpact h2 {
    color: var(--white);
    font-family: var(--textFont);
    font-weight: 300;
    font-size: 40px;
    display: inline;
}

.textImpact legend {
    color: var(--white);
    font-family: var(--textFont);
    font-weight: 300;
    font-size: 40px;
    display: inline;
}

#textBlue {
    color: var(--orange);
}

.textDatePlace {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: var(--white);
    font-family: var(--textFont);
    transition: opacity 2s linear;
    opacity: 0;
}

.textDatePlace h3 {
    font-weight: 300;
    font-size: 30px;
}

.textDisplayRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textDisplayRow h4 {
    font-size: 26px;
    font-weight: 500;
}

.textDisplayRow h5 {
    font-size: 22px;
    font-weight: 500;
}

h6 {
    font-size: 20px;
    font-weight: 500;
}

#gratis {
    font-size: 20px;
    color: var(--orange);
}

#campoDo3D {
    height: 70%;
    width: 40%;
    position: relative;
    margin-top: 3%;
    margin-right: 5%;
    opacity: 0;
    transition: opacity 2s linear;
}

@media (max-width: 1550px) {
    #campoAzul {
        height: 73vh;
    }
    .text {
        padding-right: .5%;
    }
    .text {
        transform: scale(.75);
    }
}

@media (max-width: 1250px) {
    #campoDo3D {
        margin-top: 20%;
        padding-right: 85%;
    }
    #campoAzul {
        display: flex;
        flex-direction: column;
    }
    .textImpact>h2 {
        font-size: 28px;
    }
    .textImpact>div>h2 {
        font-size: 28px;
    }
    #textBlue {
        font-size: 26px;
    }
    .text {
        padding-left: 15%;
    }
}