<div id="campoDo3D">
  <!-- Fetch do cubo 3D -->
</div>

<div class="text">
  <div class="textImpact">
    <h2>SENAC HUB ACADEMY EXPERIENCE DAY&#160;</h2>
    <div>
      <h2 id="cristoSenhor">A VERDADEIRA <span  id="textBlue">INOVAÇÃO</span> ACONTECE&#160;</h2>
      <legend id="cristoSenhor2">COM NOVAS&#160;<span  id="textBlue"> EXPÊRIENCIAS!</span></legend>
    </div>
  </div>

  <div class="textDatePlace">
    <h3>1° EDIÇÃO EXPERIENCE DAY!</h3>
    <div class="textDisplayRow">
      <h4 id="textBlue">22&#160;</h4>
      <h5>DE&#160;</h5>
      <h4 id="textBlue">JUNHO&#160;</h4>
      <h5>DE&#160;</h5>
      <h4 id="textBlue">2022&#160;</h4>
      <h5>ÀS&#160;</h5>
      <h4 id="textBlue">19h</h4>
    </div>
    <h6>R. DO PARQUE N°75 - CAMPO GRANDE, MS</h6>
    <h6 id="gratis">EVENTO PRESENCIAL E GRATUITO</h5>
  </div>
</div>
